.rtl-dir {
  direction: rtl !important;
}

.ltr-dir {
  direction: ltr !important;
}

@font-face {
  font-family: "Yekan";
  src: url("../fonts/yekan/BYEKAN.eot");
  src: url("../fonts/yekan/BYEKAN.eot?#iefix") format("embedded-opentype"),
    url("../fonts/yekan/BYEKAN.woff") format("woff"),
    url("../fonts/yekan/BYEKAN.ttf") format("truetype"),
    url("../fonts/yekan/BYEKAN.svg#font1") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Yekan" !important;
}

.nav.text-white .nav-link,
.nav.text-white .nav-link.active {
  color: #fff;
}

.nav.text-white:hover .nav-link {
  opacity: 0.5;
}

.nav.text-white .nav-link:hover {
  opacity: 1;
}

main {
  min-height: calc(100vh - 208px);
}

.text-justify{
  text-align: justify;
}